[build]
builder = "nixpacks"
buildCommand = "npm run build"

[deploy]
startCommand = "pip install -r requirements.txt && cd src && gunicorn wsgi:app"
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 10